html{
    background-color: black;
    color: green;
    font-family: "Open Sans", sans-serif;
     font-optical-sizing: auto;
     font-weight: 600;
     font-style: normal;
}

#terminal_main {
    display: inline;
}

#terminal, #terminal:focus{
    border: none;
    background: none;
    color: green; 
    outline: none;
    width: 80%;
    
}